.contacts-page__caption {
  padding-top: 32px;
  gap: 8px;
}
.contacts-page__wrapper {
  padding-bottom: 79px;
}

.contacts-page__imgOne {
  width: 296px;
  height: 390px;
}

.contacts-page__imgOne > img {
  width: 100%;
  height: 100%;
}
.contacts-page__container {
  padding: 270px 15px 240px 0;
}
.contacts-page__container-сс {
  padding: 270px 15px 231px 15px;
}

@media (max-width: 1050px) {
  .contacts-page__caption {
    padding-top: 18px;
    gap: 2px;
  }
  .section2__contacts {
    padding-bottom: 63px !important;
  }
  .contacts-page__container {
    padding: 240px 15px 216px 0 !important;
  }
  .section4-container-block__contacts h3 {
    max-width: 100%;
  }
  .contacts-page__imgOne {
    width: 233px !important;
    height: 300px;
  }
  .section4-container-block__contacts {
    padding: 60px 0 !important;
  }
  .contacts-page__container-сс {
    padding: 229px 15px 231px 15px !important;
  }
  .panel-block-bottom p {
    font-size: max(32px, 1.25vw) !important;
    line-height: max(32px, 1.667vw) !important; /* 100% */
    letter-spacing: -2px;
  }
  .panel-block {
    padding-bottom: 152px !important;
  }
}

@media (max-width: 475px) {
  .contacts-page__caption {
    padding-top: 53px !important;
    gap: 8px !important;
  }
  .section2__contacts {
    padding-bottom: 70px !important;
    padding-top: 16px !important;
  }
  .contacts-page__container {
    padding: 76px 15px 85px 0 !important;
  }
  .contacts-page__imgOne {
    width: 128px !important;
    height: 165px;
  }
  .section4-container-block__contacts h3 {
    max-width: 345px !important;
  }
  .section4-container-block__contacts {
    padding: 54px 0 !important;
  }
  .contacts-page__container-сс {
    padding: 98px 15px 115px 15px !important;
  }
  .panel-block {
    padding-bottom: 5px !important;
  }
}
