.franchise-page-slide {
  display: flex;
  align-items: center;
  height: 1000px;
  max-width: 930px;
  margin: 0 auto;
  padding: 0 20px;
  border-right: 1px solid #454545;
  border-left: 1px solid #454545;
  padding-top: 45px;
}
.franchise-page-caption > h1 {
  font-size: 40px;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: -2px;
  text-transform: uppercase;
}
.franchise-page__desc > p {
  font-size: min(60px, 3.12vw) !important;
  line-height: min(60px, 3.12vw);
}
.franchise-page__video {
  height: 63rem;
}
.franchise-page__block-open {
  padding: 286px 0 281px 0 !important;
}
.franchise-page__img {
  width: 296px;
  height: 385px;
}
.franchise-page__img > img {
  width: 100%;
  height: 100%;
}
.franchise-page__container-img {
  padding: 0 150px !important;
}
.franchise-page-container {
  height: 1023px;
}
.franchise-page-caption__p > p {
  font-size: 60px;
  line-height: 60px;
}
@media (max-width: 1151px) {
  .franchise-page-slider {
    display: none;
  }
}
@media (max-width: 1150px) {
  .franchise-page-slider__mob {
    display: flex;
  }
  .franchise-page-swiper__mob {
    max-width: 690px;
    width: 100%;
    border-left: 1px solid #454545;
    border-right: 1px solid #454545;
  }
  .franchise-page-swiper-title__mob {
    position: absolute;
    padding: 20px;
  }
  p.franchise-page-swiper-desc__mob {
    max-width: 630px;
    width: 100%;
    font-size: 40px;
    line-height: 48px;
  }
  .franchise-page-swiper-block__mob {
    padding: 250px 0;
  }
  .franchise-page-swiper-btn__mob {
    width: 32px;
  }
}
@media (max-width: 475px) {
  .franchise-page-swiper__mob {
    max-width: 375px;
    width: 100%;
    border-left: none;
    border-right: none;
  }
  .franchise-page-swiper-block__mob {
    padding: 75px 0;
    padding-bottom: 0 !important;
  }
  p.franchise-page-swiper-desc__mob {
    max-width: 345px;
    width: 100%;
    font-size: 32px;
    line-height: 32px;
  }
}
