.secret-page_block1 {
  padding-top: 203px !important;
  padding-bottom: 15% !important;
}

.secret-page_block1-img {
  width: 614px;
  height: 800px;
}
.secret-page_block1-img > img {
  width: 100%;
  height: 100%;
}
.secret-page_block3 {
  padding: 0;
  padding-top: 15%;
  padding-bottom: 11.7%;
}
.secret-page_block3-img {
  width: 296px !important;
  height: 390px;
}
.secret-page_block3-title {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  font-family: "FuturaPT", sans-serif;
  font-size: 20px;
  font-weight: 450;
  line-height: 26px;
  letter-spacing: 2px;
  text-align: left;
  text-transform: uppercase;
  display: block;
}
.secret-page_block7 {
  height: 1160px !important;
}

@media (max-width: 1024px) and (min-width: 476px) {
  .secret-page_block3-title {
    display: none;
  }
}
